@model IEnumerable<GeekShopping.Web.Models.ProductModel>
<link rel="stylesheet" href="~/css/ProductIndex.css" />
<section class="title">
	<h1>Product List</h1>
	<a class="btn btn-primary" asp-action="ProductCreate"><i class="fa fa-plus"></i> Adicionar Produto</a>
</section>

<hr />
<section class="listOfProducts">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var product in Model)
			{
				<tr>
					<td>@product.Name</td>
					<td>@product.CategoryName</td>
					<td> R$ @product.Price.ToString("F2")</td>
					<td> <a class="btn btn-secondary" asp-action="ProductEdit" asp-route-id="@product.Id"><i class="fa fa-pencil"></i> Editar</a> <a class="btn btn-danger" asp-action="ProductDelete" asp-route-id="@product.Id"><i class="fa fa-close"></i> Remover</a></td>
				</tr>
			}
		</tbody>
	</table>
</section>