@model GeekShopping.Web.Models.ViewModel.ProductViewModel
<link rel="stylesheet" href="~/css/ProductCreate.css" />
<h1>Editar produto</h1>
<hr />
<form asp-action="ProductUpdate">
	@Html.AntiForgeryToken()
	<input asp-for="Id" value="@Model.Id" hidden />
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-data">
		<div>
			<label asp-for="Name"></label>
			<input asp-for="Name" value="@Model.Name"/>
		</div>
		<div>
			<label asp-for="Price"></label>
			<input asp-for="Price" value="@Model.Price" />
		</div>
		<div>
			<label asp-for="Description"></label>
			<textarea asp-for="Description">@Model.Description</textarea>
		</div>
		<div>
			<label asp-for="CategoryName"></label>
			<input asp-for="CategoryName" value="@Model.CategoryName"/>
		</div>
		<div>
			<label asp-for="ImageURL"></label>
			<input type="url" asp-for="ImageURL" value="@Model.ImageURL" />
		</div>
	</div>
	<div class="actions">
		<a class="btn btn-primary" asp-action="ProductIndex">Back to list</a>
		<button class="btn btn-success" type="submit" value="Update">Update</button>
	</div>
</form>
@section Scripts{
	<partial name="_ValidationScriptsPartial"> 
}