@model GeekShopping.Web.Models.ProductModel
<link rel="stylesheet" href="~/css/HomeDetails.css" />

<div id="modal-background">
	<div id="modal">
		<button type="button" class="btn" id="close-modal"><i class="fa fa-close"></i></button>
		<br />
		<h2>Selecione a quantidade</h2>
		<div class="modal-units">
			<div id="1"> 1 unidade</div>
			<div id="2"> 2 unidades</div>
			<div id="3"> 3 unidades</div>
			<div id="4"> 4 unidades</div>
			<div id="5"> 5 unidades</div>
		</div>
		<hr />
		<span>Quantidade personalizada:</span>
		<input id="quantityUpdate" />
		<button style="width:100%" type="button" id="update-quantity" class="btn btn-success">Selecionar</button>
	</div>
</div>

<form method="post">
	@Html.AntiForgeryToken()
	<input asp-for="Id" hidden />
	<div class="box">
		<div>
			<div class="box-Header">
				<div>
					<h1 class="text-dark">@Model.Name</h1>
				</div>
			</div>
			<div class="box-body-1">
				<div class="box-body-2">
					<div id="model-img">
						<img src="@Model.ImageURL" width="100%" />
					</div>
					<div style="margin-top:20px;">
						<div>
							<span class="category-badge">
								@Model.CategoryName
							</span>
							<p></p>
							<h1 class="text-success">@((Model.Price).ToString("c"))</h1>
							<h3>Sobre o produto</h3>
							<p class="text-secondary box-description">@Html.Raw(Model.Description)</p>
						</div>
					</div>
				</div>
				<div class="box-count" id="open-modal">
					<span>Quantidade: </span>
					<span id="model-count"> 1</span>
					<span> Un.</span>
					<input hidden min="1" asp-for="Count" />
					<i style="float:right; font-size:20px" class="fa fa-angle-right text-primary"></i>
					<span asp-validation-for="Count" class="text-danger"></span>
				</div>
			</div>

			<div class="box-actions">
				<div>
					<button type="submit" class="btn-primary form-control btn-lg" style="height:50px;">
						Adicionar ao carrinho
					</button>

				</div>
				<br />
				<div>
					<a asp-action="Index" style="width:30%" id="back-to-list" class="btn btn-success">
						Voltar a lista
					</a>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<script src="@Url.Content("~/js/HomeDetails.js")" type="text/javascript"></script>
	<partial name="_ValidationScriptsPartial" />
}
