@model IEnumerable<GeekShopping.Web.Models.ProductModel>
<link rel="stylesheet" href="~/css/HomeIndex.css" />
<form>

	<section class="card-row">
		@foreach (var product in Model)
		{
			<div class="card">
				<div class="card-img">
					<img style="width:90%" src="@product.ImageURL" />
				</div>
				<div class="card-productName">
					<h4>@product.Name</h4>
				</div>
				<div class="card-description">
					<p>
						@Html.Raw(product.Description)
					</p>
				</div>
				<div class="card-actions">
					<div>
						<h5>@string.Format("{0:c}",@product.Price)</h5>
					</div>
					<div>
						<a class="btn btn-success" asp-action="Details" asp-route-id="@product.Id">Detalhes</a>
					</div>
				</div>
			</div>
		}
	</section>
</form>